.clients_testimonials_area {
    background: url("../img/testy_bg.jpg") no-repeat fixed center;
    padding-top: 120px;
    position: relative;
    display: block;
    overflow: hidden;
    z-index: 3;

    &:after {
        content: "";
        position: absolute;
        top: 0; left: 0; right: 0; bottom: 0;
        background-color: rgba(255, 255, 255, 0.6);
        z-index: -1;
    }

    /* Other Testimonial Area */
    .other_testimonial_area {
        padding-bottom: 80px;

        .item {
            .media {
                border-radius: 140px 5px 5px 140px;
                background-color: rgba(255, 255, 255, 0.5);

                .media-left {
                    padding-right: 60px;

                    a img {
                        width: 282px;
                        height: 282px;
                        object-fit: cover;
                    }
                }

                .media-body {
                    padding-top: 65px;
                    padding-right: 120px;

                    .media-heading {
                        font: 500 24px $fira;
                        color: $heading;

                        span {
                            font-size: 16px;
                            font-family: $muli;
                            color: $p;
                        }
                    }

                    p {
                        font: italic 600 18px/30px $muli;
                        text-decoration: underline;
                        padding-top: 20px;
                        color: $hover;
                    }
                }
            }
        }

        /* Owl Carousel Controls */
        .owl-controls {
            text-align: center;
            padding-top: 60px;

            .owl-nav {
                h5 {
                    display: inline-block;
                    text-transform: uppercase;
                    font: 400 16px $muli;
                    text-decoration: underline;
                    color: $heading;
                    @include transition;
                }

                .owl-prev,
                .owl-next {
                    display: inline-block;
                    @include transition;

                    &:hover h5,
                    &:hover i,
                    &:focus h5,
                    &:focus i {
                        color: $hover;
                    }

                    i {
                        font-size: 16px;
                        @include transition;
                    }
                }

                .owl-prev i { padding-right: 15px; margin-right: 65px; }
                .owl-next i { padding-left: 15px; }
            }
        }
    }
    /* End Other Testimonial Area */
}
/* Clients Testimonials Area End
============================================================================================ */
